header { 
    background-color: var(--color-grey-2);
    color: var(--color-white);
    font-weight: var(--font-weight-2);
    font-size: var(--font-text-1);
    text-align: center;
    width: 100%;
}

header > .container {
    width: 500px;
    max-width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.header__title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 90%;
    max-width: fit-content;
    margin: 0 auto;
}

.header__title-container > h2 {
    color: var(--color-white-transparency);
}

h1 {
    font-family: var(--font-title);
    font-size: var(--font-title-1);
    font-weight: var(--font-weight-1);
}

h1 > span {
    color: var(--color-blue-1);
}

.nav {
    width: 90%;
    margin: 0 auto;
}

.nav > ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.nav > ul > li > a {
    background-color: transparent;
    color: var(--color-white);
    border: 2px solid var(--color-white);
    border-radius: var(--radius-4);
    font-size: var(--font-text-1);
    width: 100%;
    padding: 8px 16px;
    display: block;
}

.nav > ul > li > a:hover {
    background-color: var(--color-white);
    color: var(--color-grey-2)
}

.section__frontend, .section__backend {
    font-weight: var(--font-weight-2);
    font-size: var(--font-text-1);
}

.section__title {
    color: var(--color-black);
    padding: 20px;
    margin-top: 40px;
}


.section__list--cards {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.section__card {
    background-color: var(--color-white);
    border-radius: var(--radius-2);
    padding: 32px 24px;
    margin-left: 20px;
    margin-bottom: 8px;
    width: 340px;
    min-width: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}

.card__top {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.card__header > img {
    width: 48px;
    height: 48px;
}

.card__title {
    color: var(--color-grey-2);
    font-weight: var(--font-weight-1);
    width: fit-content;
}

.card__location, .card__description {
    color: var(--color-grey-3);
    font-weight: var(--font-weight-3);
    font-size: var(--font-text-2);
}

.card__category--frontEnd > span, .card__category--backEnd > span {
    color: var(--color-blue-2);
    background-color: var(--color-grey-transparency);
    font-size: var(--font-text-3);
    padding: 2px 8px;
    border-radius: 2px;
}

@media screen and (min-width: 768px) {
    .nav > ul {
        flex-direction: row;
        justify-content: center;
    }
    .nav > ul > li {
        width: fit-content;
        padding: 8px 24px;
    }
}

@media screen and (min-width: 1200px) {
    .section__title {
        padding-left: 5%;
    }
    .section__list--cards {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        overflow-x: hidden;
        width: fit-content;
    }
} 
